{% extends "base.html" %}
{% block content %}
    

   

<div class="m-5">
        <form method="POST" action="{% url "delete_cat" %}">
            {% csrf_token %}
    
            {% for allcat in cat %}
                
            <div class="flex items-center space-x-3 p-2">
                <input type="checkbox" class="size-6" name="category" value="{{allcat.id}}">
                <label class="text-xl font-semibold">{{allcat.name}}</label>
            </div> 
    
            {% endfor %}
            
            <button type="submit" class="bg-green-500 rounded-lg mt-5 p-2 text-black">Delete</button>

        </form>   
    </div>   
        {% endblock content %}