{% extends "base.html" %}

{% block content %}

<div class="bg-white min-h-screen font-sans py-5">
  <div class="max-w-screen mx-auto px-4 font-mono font-light ">  
    
        <form method="get" class="flex flex-wrap gap-4 items-center justify-end">
      
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search events..."
              class="border px-4 py-2 rounded-lg">    
              
        <select name="category" class="border px-4 py-2 rounded-lg">
          <option value="">All Categories</option>
          {% for cat in categories %}
            <option value="{{ cat.name }}"
            {% if request.GET.category == cat.name %}
            selected
            {% endif %}>
            {{ cat.name }}              
            </option>
          {% endfor %}
        </select>   

        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg">
          Apply
        </button>
      </form>


    {% if all_events_page %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-5">
      {% for ev in all_events_page %}
      <div class="bg-white shadow-lg rounded-xl overflow-hidden hover:shadow-xl transition duration-300 flex flex-col relative">
        <div
						class="absolute top-0 left-0 bg-red-600 text-white text-sm font-semibold px-3 py-1 rounded flex items-center gap-1 shadow-md z-10"
					>
						<!-- Calendar icon -->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-4 w-4"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
							/>
						</svg>
						{{ ev.date|date:"M. d, Y" }}
					</div>
        <img
          src="{{ ev.asset.url|default:'http://127.0.0.1:8000/media/event_asset/Untitled-desig.png' }}"
          alt="Event Image"
          class="w-full h-48 object-cover "
        >
        <div class= "p-5 flex-1 flex flex-col justify-between">
          <div>
            <h2 class="text-xl font-bold text-gray-800 mb-2">{{ ev.name }}</h2>
            <p class="text-gray-600 text-sm mb-3 max-h-16 overflow-hidden">
              {{ ev.description }}
            </p>          
            <p class="text-sm text-gray-500">Location: {{ ev.location }}</p>
            <p class="text-sm text-gray-500">Joined: {{ ev.participants.count }}</p>
          </div>
          <a href="{% url 'event_details_view' id=ev.id %}"
             class="mt-4 inline-block bg-red-500 text-white text-center px-4 py-2 rounded-md hover:bg-gray-500 transition w-full">
            View
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-500 text-lg mt-10">No events found.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
