{% load static %}

<footer class="bg-orange-500 text-black p-5 mt-5 w-auto">

    <div class="footermain flex justify-between w-auto md:flex-row flex-col">
      
      <div class="flex">
        <div class="p-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" class="size-6">
            <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
          </svg>
          
        </div>
        <div class="items-center p-4 ">
          <p class="text-black font-bold md:text-xl">Puran Bogura</p>
          <p class="text-black">Bangladesh</p>
        </div>
      </div>

      <div class="flex">
        <div class="p-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" class="size-6">
            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
          </svg>
          
        </div>
        <div class="items-center p-4 ">
          <p class="text-black md:text-xl">Contact@test.com</p>
          <p class="text-black-500 font-bold">Info@Test.com</p>
        </div>
      </div>

      <div class="flex">
        <div class="p-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" class="size-6">
            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
          </svg>
          
        </div>
        <div class="items-center p-4 ">
          <p class="text-black md:text-xl">100 800 1234 5555</p>
          <p class="text-black-500 font-bold">100 800 1234 5555</p>
        </div>
      </div>

    </div>

    <div class="flex justify-between md:flex-row flex-col w-auto">

        <div class="p-5">          
          <a href="{% url 'home' %}" class="flex md:flex-row items-center space-x-2">
            <!-- <img src="{% static 'images/elogo.png' %}" alt="logo" width="70" height="60"> -->
            <div class="font-bold">
              <span class="font-bold text-2xl font-serif bg-gradient-to-r from-white to-black bg-clip-text text-transparent"">Sevent</span>              
            </div>                
          </a>  
            <p class="text-xl text-black font-bold mt-5">Network</p>
            <div class="flex gap-3 text-xl mt-3">
              <a href="https://www.facebook.com/stropurbo7" class="text-white hover:text-blue-500">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://x.com/stropurbo" class="text-white hover:text-blue-400">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/stropurboyt/" class="text-white hover:text-red-500">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://www.youtube.com/@stropurbo" class="text-white hover:text-red-500">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </div>    
        </div>

        <div class="p-5">        
          <div class="text-2xl font-sans text-black">Legal</div>
            <a href="#" class="flex text-gray-200 hover:text-black">Privacy Policy</a>
            <a href="#" href="#"p class="flex text-gray-200 hover:text-black">Disclaimer</a>
            <a href="#" class="flex text-gray-200 hover:text-black">Terms and Services</a>
            <a href="#" class="flex text-gray-200 hover:text-black">Risk Management</a>
            <a href="#" class="flex text-gray-200 hover:text-black">FAQ</a>
        </div>

        <div class="p-5">        
          <div class="text-2xl font-sans text-black">Company</div>
            <a href="{% url 'about' %}"
            class="flex text-gray-200 hover:text-black cursor-pointer">
            About Us
          </a>
            <a href="#" class="flex text-gray-200 hover:text-black">Career</a>          
         
        </div>

    </div>
      <div class="mt-10 text-center text-gray-500">
        <p>&copy; 2025 Sevents. All Rights Reserved.</p>
      </div>


  </footer>
