{% extends "base.html" %}

<title>{% block title %}Home{% endblock title %}</title>

 {% block content %}

  <main class="overflow-x-hidden">
    <div class="relative">
      <div class="imagecontainer flex items-center">
        <img class="bannerimage w-full" src="https://i.ibb.co.com/kgMRsmnN/travelling-Banner-Landscape.png" alt="banner">
        <div class="sabbiroverlay text-yellow-500 flex-col md:flex-row items-center 
        justify-center absolute top-1/2 left-1/2 
        transform -translate-x-1/2 -translate-y-1/2 
        text-center"
        >
          <p class="font-roboto">One Stop</p>
          <p class="font-poppins" style="font-weight: 500;">Event Planner</p>
          <p class="font-light">E V E R Y C H O I C E B E P E R F E C T</p>
        </div>
        
      </div>
    </div>
    
    <div class="flex items-center w-full bg-red-500 p-5">
      
      <div class="w-full flex justify-between"
        >      
          <div class="text-white text-2xl font-bold flex items-center">
            <p>
              FIND THE BEST EVENTS
            </p>            
          </div>               
                  
          <div class="search-container">
            <form action="{% url 'home' %}" method="GET" 
            class="flex md:flex-row flex-col sm:justify-center sm:items-center md:flex-nowrap 
               space-y-3 sm:space-y-3 md:space-y-0 md:space-x-3 items-center">
              
                <input type="text" name="search" placeholder="Events names, locations" 
                class="w-64 border p-2 rounded-lg" 
                >
              
                <select name = "category" class="select border p-2 rounded-lg" id="categoryDropdown">
                    <option value="" class="selected">Category</option>
                      {% for category in cat %}
                      <option value="{{ category.id }}" class="catItem"> {{category.name}} </option>
                      {% endfor %}
                </select>                                  
                
                <button type="submit" 
                  class="searchname bg-gray-600 p-2 rounded-lg flex items-center justify-center font-bold
                  text-white hover:bg-gradient-to-r hover:from-orange-500 to-red-500">
                    SEARCH
                </button>                

            </form>
          </div>         
      
      </div>
      
    </div>

    <div class="listevent grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-5 w-auto p-5">
      {% if all_event %}
      {% for ev in all_event %}     
      <div class="eventcontent flex flex-wrap items-center 
        flex-col shadow-lg rounded-lg p-5 bg-red-500 w-auto "
        > 
          <a href="{% url 'event_details_view' id=ev.id %}" class="flex justify-center w-auto">
            
            <div class="flex flex-col items-center w-auto ">

              {% if ev.asset %}
                <div class="w-auto h-48 overflow-hidden flex justify-center rounded-lg">
                    <img class="object-cover w-full h-full" src="{{ ev.asset.url }}" alt="Event Image">
                </div>
            {% else %}
                <div class="w-auto h-48 overflow-hidden flex justify-center">
                    <img class="object-cover w-full h-full" 
                        src="https://i.ibb.co.com/1Y4Qddqj/photo-1516450360452-9312f5e86fc7.jpg" 
                        alt="Default Event Image">
                </div>
            {% endif %}
 
                           

                <h2 class="mt-5 text-center font-bold text-2xl"> {{ev.name}} </h2>
                <p class="mt-5 text-center line-clamp-2"> {{ev.description}} </p>
                <p class="mt-2 text-purple-500 font-bold text-center"> {{ev.date}} - {{ev.time}} </p>
            </div>
          </a>
        
          <div class="w-auto flex md:flex-row flex-col flex-nowrap justify-between items-center mt-3">      

            <div class="mx-5  font-bold text-gray-600">
              Category
              <p class="text-center font-bold text-black"> {{ev.category.name}} </p>
            </div>

            <div class="mx-5  font-bold text-gray-600">
              Joined
              <p class="text-center font-bold text-black"> {{ev.participants.count}} </p>
            </div>  
            
            {% comment %} <a href="{% url 'rsvp_event' ev.id %}" 
            class=" bg-orange-500 rounded-2xl w-[100px] h-10 flex items-center justify-center 
            font-bold text-center text-white font-sans 
            hover:bg-gray-500"
            >
                RSVP
            </a> {% endcomment %}
            <form action="{% url "rsvp_event" ev.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class=" bg-orange-500 rounded-2xl w-[100px] h-10 flex items-center justify-center 
              font-bold text-center text-white font-sans 
              hover:bg-gray-500">RSVP</button>
            </form>

          </div>
  
        </div>
      {% endfor %}
      
      {% else %}
    
        <p class="flex justify-center items-center text-center text-gray-700 font-bold text-2xl m-5">No Events Found.</p>
      
      {% endif %}


    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 p-5">      

        <div class="card bg-base-100 p-5">
          <figure class="flex justify-center h-24">
            <img
              src="https://i.ibb.co/CKYhLMTf/img-icons8.png"
              alt="Image" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2 text-2xl font-bold">7/24 Event avaliable</h2>
            <p class="m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed vel velit</p>
            <div class="card-actions justify-end">
              <div class="flex justify-center m-2">
                <button class="border p-5 rounded-md h-10 text-center items-center flex hover:bg-gray-200">
                  Details
                </button>
              </div>              
            </div>
          </div>
        </div>

        <div class="card bg-base-100 p-5">
          <figure class="flex justify-center h-24">
            <img
              src="https://i.ibb.co/k2vLdYwj/img-icons8.png"
              alt="Image" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2 text-2xl font-bold">Great Locations </h2>
            <p class="m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed vel velit</p>
            <div class="card-actions justify-end">
              <div class="flex justify-center m-2">
                <button class="border p-5 rounded-md h-10 text-center items-center flex hover:bg-gray-200">
                  Details
                </button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="card bg-base-100 p-5">
          <figure class="flex justify-center h-24">
            <img
              src="https://i.ibb.co/kgmQbDzf/img-icons8.png"
              alt="Image" 
              />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2 text-2xl font-bold">More Then 200 Speakers</h2>
            <p class="m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed vel velit</p>
            <div class="card-actions justify-end">
              <div class="flex justify-center m-2">
                <button class="border p-5 rounded-md h-10 text-center items-center flex hover:bg-gray-200">
                  Details
                </button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="card bg-base-100 p-5">
          <figure class="flex justify-center h-24">
            <img
              src="https://i.ibb.co/Rpp49MJG/img-icons8.png"
              alt="Image" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2 text-2xl font-bold">Lets Party After Event</h2>
            <p class="m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed vel velit</p>
            <div class="card-actions justify-end">
              <div class="flex justify-center m-2">
                <button class="border p-5 rounded-md h-10 text-center items-center flex hover:bg-gray-200">
                  Details
                </button>
              </div>
              
            </div>
          </div>
        </div>     

    

    </div>


      <div class="p-5 flex items-center space-x-2">
        <span class="text-2xl font-bold">HOTELS</span>
        <span class="font-normal text-2xl">/ don't forget to book your room</span>
      </div>

      
        

    
  </main>

  {% endblock content %}
