{% extends "base.html" %}

{% block content %}

    <h2 class="flex justify-center font-bold m-5">Add a New Participant</h2>

    <div class="flex justify-center items-center">
        <form method="POST">
            {% csrf_token %}

            {% comment %} <div class="mt-5">
                <label for="">Name</label>
                {{partici_form.name}}
            </div> {% endcomment %}

            {% comment %} <div class="mt-5">
                <label for="">E-mail</label>
                {{partici_form.email}}
            </div> {% endcomment %}

            <div class="mt-5">
                <label for="">Event</label><br>
                {{partici_form.event}}
            </div>

            <div class="mt-5">
                <label for="">Participant</label><br>
                {{partici_form.participants}}
            </div>

            <button type="submit" 
            class="bg-green-500 text-white rounded-lg py-2 px-4 w-full mt-5 font-medium hover:bg-gray-500">
                Submit
            </button>

        </form>
    
    </div>
     
</div>

    {% endblock content %}