{% extends "base.html" %}

<title>{% block title %}Reset Password{% endblock title %}</title>

{% block content %}

    <div class="flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold m-5 text-green-900 font-serif">Change Password</h1>

        <form method="POST" class="flex flex-col m-2">
            {% csrf_token %}
        
            {{ form }}
            <button type="submit" class="bg-orange-500 text-white font-semibold p-2 rounded-lg items-center text-center">Reset Password</button>
        </form>     
    </div>
    
{% endblock content %}